{% extends "login/header.html" %}

{% block content%}
{% for itm in arr %}
<div class="well well-lg" id="{{ itm }}" style="background-color:#69be28">Aktywnosc, {{zmienna}}</div>
{% endfor %}

<div class="well well-lg" id="akt2" style="background-color:#bfd857">Kliknij zeby zepsuc strone</div>

{% include "login/includes/popover.html" %}


<script>
    var URL = "{% url 'index' %}";

    $(document).ready(function(){
        $('#akt').click(function(){
            console.log("klikniete");
            create_get();
            zmiana();
        });
        $('#akt2').click(function(){
            console.log("post klikniete");
            create_post();
            $('.body').html("nic tu nie ma");
        });
        $('[data-toggle="popover"]').popover();
    });

    function zmiana() {
        $('#akt').html("czy dynamiczna zmiana dziala?");
        $('#akt').height($('#akt').height()*1.1);
    }


    function create_get() {
        console.log("create get is working");
        $.ajax({
            url : "/klik",
            type : "get",
            success : function(data) { console.log(data); },
            error : function(data) { console.log("error in create post"); }
        });
    };

    {% csrf_token %}
    function create_post() {
        console.log("create post is working");
        $.post(
            "/klik",
            {powitanie: "eloszka", user: "Ty"},
            function(data) { console.log(data); }

        );
    };



</script>
{% endblock %}