{% extends "login/header.html" %}

{% block content%}

{% for act in arr %}
<div class="well well-lg {{act.klasa}} popover-markup" id="{{ act }}" style="height: {{act.dur}}px">
    {% if act.klasa = "pelne" %}
    <b>{{act.typ}}</b>, start: {{act.start}}, koniec: {{act.end}}
    {% endif %}
</div>
{% include "login/includes/popover.html" %}
{% endfor %}


<!--<div class="well well-lg" id="akt2" style="background-color:#bfd857">Kliknij zeby zepsuc strone</div>-->




<script>

    $('.pelne.popover-markup').popover({
        html: true,
        placement : 'auto left',
        <!--trigger : 'focus',-->
        title: function () {
            return $(this).parent().find('.head').html();
        },
        content: function () {
            return $(this).parent().find('.content').html();
        }
    });

    var URL = "{% url 'index' %}";

    $(document).ready(function(){
        $('#akt').click(function(){
            console.log("klikniete");
            create_get();
            zmiana();
        });
        $('#akt2').click(function(){
            console.log("post klikniete");
            create_post();
            $('.body').html("nic tu nie ma");
        });
        $('[data-toggle="popover"]').popover();
    });

    function zmiana() {
        $('#akt').html("czy dynamiczna zmiana dziala?");
        $('#akt').height($('#akt').height()*1.1);
    }


    function create_get() {
        console.log("create get is working");
        $.ajax({
            url : "/klik",
            type : "get",
            success : function(data) { console.log(data); },
            error : function(data) { console.log("error in create post"); }
        });
    };

    {% csrf_token %}
    function create_post() {
        console.log("create post is working");
        $.post(
            "/klik",
            {powitanie: "eloszka", user: "Ty"},
            function(data) { console.log(data); }

        );
    };



</script>
{% endblock %}