
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">8:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">9:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">10:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">11:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">12:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">13:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">14:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">15:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">16:00</div>
<div class="puste" style="height: 80px; border-bottom: 1px solid #e3e3e3">17:00</div>
